<h1>AjaxApp</h1>
<%= form_with url:  "/posts", method: :post,id: "form" do |form| %>
  <%= form.text_field :content , id: "content"%> <!--contentを取得したいのでidを記述!-->
  <%= form.submit '投稿する' , id: "submit" %>
<% end %>

<div id = "list">
</div>

<% @posts.each do |post| %>
  <!--これ以下がメモ部分なので、ここを発火させたい!-->
  <div class="post" data-id=<%= post.id %> data-check=<%= post.checked %>> <!--カスタムデータ属性をここで指定!-->
    <div class="post-date">
      投稿日時：<%= post.created_at %>
    </div>
    <div class="post-content">
      <%= post.content %>
    </div>
  </div>
<% end %>